<div class="p-5 bg-info text-white text-center">
    <h1>Pretraga</h1>  
    </div>
    
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="citalac">Pocetna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="pretraga">Nazad na pretragu</a>
          </li>
         
        </ul>
      </div>
    </nav>
    <div class="container" style="padding:10px;width: 40%; text-align: center;">
        <textarea class="form-control" [placeholder]="tekstStara" id="textAreaExample" rows="4" style="background: #fff;" [(ngModel)]="tekst"></textarea>
        <label class="form-label" for="textAreaExample">Dodaj komentar</label>
        <br/>
        <br/>
        {{greska}}
        <div class="mb-3 mt-3 ">
            Unesite ocenu od 1-10:<input type="text" class="form-control"  [(ngModel)]="ocena" placeholder="Unesite ocenu" name="ocena" >
           </div>
           <br/>
           <br/>
           
            <button (click)="izmeni()" class="btn btn-info text-white">Izmeni</button>
           <br/>
           <br/>
        <h2>Ocena</h2>

        <div >
          
       
        <br/>
       <br/>
        
    </div>  
  <div class="mt-5 p-4 bg-dark text-white text-center" [class.footer]="true" >
    <p>Footer</p>
  </div>
