.sing{
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 3px;
    padding-top: 10px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  .footerabs {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

 .crvena{
  color:red;
 }