<div class="p-5 bg-info text-white text-center">
    <h1>Biblioteka</h1>  
    </div>
    
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" *ngIf="vrsta=='citalac'" href="glavnaCitalac">Glavna</a>
            <a class="nav-link active"  *ngIf="vrsta=='moderator'" href="glavnaModerator">Glavna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="profil">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="vrsta=='citalac'|| status=='blokiran'" href="pretraga">Pretraga</a>
            <a class="nav-link active" *ngIf="vrsta=='moderator' && status!='blokiran'" href="naprednapretraga">Pretraga</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="vrsta=='citalac' && status!='blokiran'" href="dodajknjigu">Zahtev za novu knjigu</a>
            <a class="nav-link active"  *ngIf="vrsta=='moderator' && status!='blokiran'" href="dodajknjigumod">Dodaj novu knjigu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="trenutnazaduzenja">Pregled zaduzenih knjiga</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="zaduzenja">Istorija zaduzenja</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  *ngIf="vrsta=='moderator'" href="zahtevimoder">Zahtevi</a>
          </li>
          
        </ul>
      </div>
    </nav>

    <div *ngIf="allBooks.length==0" style="padding: 30px; font:caption" > Niste zaduzivali knjige</div>
    

    <div class="container" style="padding-top:10px">   
       <div class="table-responsive">  
       <div class="container" style="padding-top:10px">   
         <table class="table table-bordered">
           <thead>
             <tr>
               <th>Naziv</th>
               <th>Autor</th>
               <th>DatumOd</th>
               <th>DatumDo</th>
               <th>Detalji</th>
             </tr>
           </thead>
           <tbody>
               <tr *ngFor="let n of allBooks">
                 <td>{{n.naziv}}</td>
                 <td>{{n.autor}}</td>
                 <td>{{n.datumOd | date:'yyyy/MM/dd'}}</td>
                 <td>{{n.datumDo | date:'yyyy/MM/dd'}}</td>
                 <td><button (click)="knjiga(n.id)" class="btn btn-info text-white">Detalji</button></td>
                
               </tr>
           </tbody>
         </table>
         <select class="form-select form-select-sm mt-3" [(ngModel)]="opcija">
          <option [value]="1">Sortiraj po nazivu - opadajuce</option>
          <option [value]="2">Sortiraj po nazivu - rastuce</option>
          <option [value]="3">Sortiraj po autoru - opadajuce</option>
          <option [value]="4">Sortiraj po autoru - rastuce</option>
          <option [value]="5">Sortiraj po datumuOd - opadajuce</option>
          <option [value]="6">Sortiraj po datumOd - rastuce</option>
          <option [value]="7">Sortiraj po datumDo - opadajuce</option>
          <option [value]="8">Sortiraj po datumDo - rastuce</option>
        </select>
       </div>
       
     </div>
     <div class="sing">
     <button class="btn btn-info text-white" (click)="sortiraj()">Sortiraj</button>
     </div>
</div> 
    
     <div class="mt-5 p-4 bg-dark text-white text-center" [class.footerabs]="allBooks.length==0" *ngIf="allBooks.length==0">
      <p>Footer</p>
    </div>



    <div class="mt-5 p-4 bg-dark text-white text-center" [class.footerabs]="allBooks.length>0" *ngIf="allBooks.length>0">
        <p>Footer</p>
      </div>
    
  
  
